= form_tag '/users/update_password', method: :patch do |f|
  %dt Please enter your new password:
  %dt= text_field_tag   :password
  %dt= hidden_field_tag :reset_password_token, @reset_password_token

  %p= submit_tag 'Update'
