= form_tag '/users/send_reset_password_email' do |f|
  %dt Please enter your email below. We'll send you an email with password reset instructions.
  %dt= email_field_tag :email

  %p= submit_tag 'Send'