!!! Strict
%html{html_attrs('en-US')}
  %head
    = stylesheet_link_tag 'application'
    = javascript_pack_tag 'application'
    %script{src: 'https://code.jquery.com/jquery-3.3.1.min.js', integrity: 'sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=', crossorigin: 'anonymous'}
    %script{src: 'http://js.pusher.com/4.1/pusher.min.js'}
    %title .portrait.
  %body
    %a{href: '/'}
      %h1 portrait
    - flash.each do |name, msg|
      = content_tag :div, msg, class: "alert alert-info"
    #Content= yield
