!!! Strict
%html{html_attrs('en-US')}
  %head
    = stylesheet_link_tag 'application'
    = javascript_pack_tag 'application'
    %title .portrait.
  %body
    %h1 portrait
    - flash.each do |name, msg|
      = content_tag :div, msg, class: "alert alert-info"
    #Content= yield
